/* Typography */
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

p code {
    color: #5D5DFF; /* Custom color */
    background-color: #F4F4FF; /* Custom background */
    padding: 0.2rem 0.4rem; /* Padding for readability */
    border-radius: 4px; /* Rounded corners */
    font-size: 0.875rem; /* Custom font size */
  }

 ul code {
    color: #5D5DFF; /* Custom color */
    background-color: #F4F4FF; /* Custom background */
    padding: 0.2rem 0.4rem; /* Padding for readability */
    border-radius: 4px; /* Rounded corners */
    font-size: 0.875rem; /* Custom font size */
  }

.parameter {
    background-color: #ffffff;
    padding: 15px;
    border-left: 4px solid #5D5DFF;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.parameter h3 {
    margin: 0;
}
.parameter p {
    margin-top: 5px;
}
.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}